/*default colors of the page*/

$primary-color: #2748B3 !default;
$background-color: #333 !default;

/*used variables to change the colors in the bottom of the page*/

$success-color: #27b379;
$warning-color: #f8a428;
$danger-color: #ec5959;
$white-color: #f3f3f3;
$black-color: #333;
$secondary-color: #ccc;

/*used variables*/

$red: 16px;
$blue: 8px;

/*mixin lets u make a group of css declarations that u want to reuse*/

@mixin box-shadow($property) {
    -webkit-box-shadow: $property;
    -ms-box-shadow: $property;
    box-shadow: $property;
}


/*will use it in the @extend*/

%message-shared {
    padding: 10px;
    color: #2748B3;
    width: 100%
}


/*used functions for changing the text color*/

@function changeTextColor($color) {
    $primary-color: $color;
    @return $color;
}

@function changeBackgroundColor($color) {
    $background-color: $color;
    @return $color;
}


/*:target is used to select all the text and bg of the page */

#root:target {
    @import "blue";
    color: changeTextColor($primary-color);
    background-color: changeBackgroundColor($background-color);
}

#root-child:target {
    @import "red";
    color: changeTextColor($primary-color);
    background-color: changeBackgroundColor($background-color);
    h1,
    h2,
    h6 {
        color: $primary-color;
    }
}

body {
    font: 100% "Space Mono", monospace;
    color: $primary-color;
    margin: 0px;
    padding: 0px;
    background-color: $background-color;
    background-image: radial-gradient(#fff, rgba(255, 255, 255, 0.2) 2px, transparent 40px), radial-gradient(#fff, rgba(255, 255, 255, 0.15) 1px, transparent 30px), radial-gradient(#fff, rgba(255, 255, 255, 0.1) 2px, transparent 40px), radial-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
    background-attachment: fixed
}


/*Nesting*/


/*sass lets u nest css selectors in the same way as HTML*/

article {
    display: flex;
    flex-wrap: wrap;
    section {
        flex-grow: 1;
        flex-basis: 45%;
        border: 1px silver solid;
        @include box-shadow(10px 10px 19px -4px rgba(255, 255, 255, 0.75));
        padding: $red;
        margin: $red;
        clear: both;
        overflow: auto;
        box-sizing: border-box;
        code {
            border: 1px solid #ddd;
            color: #666;
            page-break-inside: avoid;
            font-family: monospace;
            font-size: 15px;
            line-height: 1.6;
            margin-bottom: 1.6em;
            max-width: 100%;
            overflow: auto;
            padding: 1em 1.5em;
            display: block;
            word-wrap: break-word;
        }
        &.before {
            float: left;
            width: 40%;
        }
        &.after {
            float: right;
            width: 40%;
        }
    }
    section#selling-points {
        flex-grow: 2;
        flex-basis: 100%
    }
    section.links {
        color: $warning-color;
        border: none;
        @include box-shadow(none);
        a {
            padding: $blue $red;
            margin: 0 3*$blue;
            text-decoration: none;
            color: $black-color;
            background-color: $secondary-color;
            &:hover {
                background-color: $white-color;
            }
        }
    }
}

h1,
h2,
h6 {
    color: $primary-color;
}

h1 {
    text-align: center
}

h6 {
    text-align: center;
    font-size: 2em;
    padding: 2*$red;
    margin-bottom: 0px
}


/*@extend used for identical styled elements*/

.message {
    @extend %message-shared;
}

.success {
    @extend %message-shared;
    background-color: $success-color
}

.error {
    @extend %message-shared;
    background-color: $danger-color
}

.warning {
    @extend %message-shared;
    background-color: $warning-color
}