/*$variablename=value*/

$red: 16px;
$blue: 8px;

/*mixin nameofmixin($property)*/

@mixin box-shadow($property) {
    -webkit-box-shadow: $property;
    -ms-box-shadow: $property;
    box-shadow: $property;
}

body {
    font: 100% "Space Mono", monospace;
    color: $body-color;
    margin: 0px;
    padding: 0px;
    background-color: #000;
    background-image: radial-gradient(#fff, rgba(255, 255, 255, 0.2) 2px, transparent 40px), radial-gradient(#fff, rgba(255, 255, 255, 0.15) 1px, transparent 30px), radial-gradient(#fff, rgba(255, 255, 255, 0.1) 2px, transparent 40px), radial-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
    background-attachment: fixed
}

article {
    display: flex;
    flex-wrap: wrap
}


/*Nesting*/

article {
    section {
        flex-grow: 1;
        flex-basis: 45%;
        border: 1px silver solid;
        /*@include nameofmixin(values)*/
        @include box-shadow(10px 10px 19px -4px rgba(255, 255, 255, 0.75));
        padding: $red;
        margin: 16px;
        clear: both;
        overflow: auto;
        box-sizing: border-box
    }
    section#selling-points {
        flex-grow: 2;
        flex-basis: 100%
    }
    code {
        background: #000;
        border: 1px solid #ddd;
        color: #666;
        page-break-inside: avoid;
        font-family: monospace;
        font-size: 15px;
        line-height: 1.6;
        margin-bottom: 1.6em;
        max-width: 100%;
        overflow: auto;
        padding: 1em 1.5em;
        display: block;
        word-wrap: break-word
    }
    code.before {
        float: left;
        width: 40%
    }
    code.after {
        float: right;
        width: 40%
    }
}


/*h1,*/

h1 {
    text-align: center
}

h6 {
    text-align: center;
    font-size: 2em;
    padding: 2*$red;
    margin-bottom: 0px
}


/*@extend .classname for the extend*/

%message-shared {
    border: 1px solid #ccc;
    padding: 10px;
    color: #2748B3;
    background-color: #000;
    width: 100%
}

.success {
    @extend %message-shared;
    background-color: green
}

.error {
    @extend %message-shared;
    background-color: red
}

.warning {
    @extend %message-shared;
    background-color: orange
}


/*Links to change the colors of text and bg*/

@function changeTextColor($color) {
    $text-color: $color;
    @return $color;
}

@function changeBackgroundColor($color) {
    $background-color: $color;
    @return $color;
}

#root:target {
    @import "./blue.scss";
    color: changeTextColor($text-color);
    background-color: changeBackgroundColor($background-color);
}

#root-child:target {
    @import "./red.scss";
    color: changeTextColor($text-color);
    background-color: changeBackgroundColor($background-color);
    h1,
    h2,
    h6 {
        color: $text-color;
    }
}